*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* reset */

body{
    font-family: 'Nunito', sans-serif;
}

header h1{
    text-align: center;
    font-weight: 1000;
    font-size: 35px;
    color: #E53170;
    padding: 25px;
}

main{
    width: 70%;
    margin: auto;
}

main p{
    text-align: center;
    margin-bottom: 50px;
}

/* card style and position */
.card{
    width: calc((100% - 80px) / 3);
    height: 100px;

    margin: 0 40px 50px 0;
    float: left;

    background-color: #0F0E17;
    color: white;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3)
}

.card:last-child{
    margin: 0;
}
/* end card style and position */

/* card content settings */
.card img{
    width: 100px;
    float: left;
    margin-right: 20px;
}

.info{
    padding: 18px;
}

.info h2{
    font-size: 18px;
    font-weight: 1000;
}

.info a{
    text-decoration: none;
    color: #74CCED;
    display: block;
}
/* end card content settings */
